body {
  text-align:center;
  margin:0;
  padding:0;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size:10px;
  font-weight:500;
}

a {
  color:#4183C4;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.hidden {
  display:none;
}

li {
  float:left;
}

.right {
  float:right;
}

#wrapper {
  width:96em;
  margin:0 auto;
  text-align:left;
  padding:2em 0 0;
}

#nav {
  position:absolute;
  top:0;
  left:0;
  line-height:2em;
  background:#222;
  border-bottom:1px solid #444;
  width:100%;
  padding:0;
}

#nav li {
  font-size:1.1em;
  margin-right:2em;
}

#nav li.first {
  margin-left:20px;
}

#nav li a {
  color:#999;
}

#nav li a:hover {
  color:#fff;
}

#header {
  height:10em;
  background:#e0e0e0;
  border-bottom:2px solid #ccc;
  margin-bottom:2em;
  padding:0 2em;
}

#header h1 {
  font-size:3.6em;
  color:#222;
  padding-top:0.8em;
  text-transform:lowercase;
}

#content {
  font-size:1.3em;
}

#content li {
  float:none;
  margin-left:2em;
}

#content dl {
  padding-left:2em;
}

#content dd {
  font-size:0.9em;
  color:#888;
  margin:0 0 1em 0;
}

#content dt {
  font-size:1.6em;
  font-weight:900;
  margin:1em 0 0;
}

#content .author {
  margin:2em 0 0;
  font-size:0.9em;
  color:#888;
}

#footer {
  border-top:2px solid #ccc;
  background:#e0e0e0;
  margin-top:2em;
  padding:2em;
}

#footer small {
  color:#888;
}

#admin fieldset {
  margin:0 2em;
}

/* overall wiki styles */
h1 {
  font-size:1.8em;
}

h2 {
  font-size:1.6em;
}

h3 {
  font-size:1.4em;
}

h4 {
  font-size:1.3em;
}

h5 {
  font-size:1.2em;
}

h6 { 
  font-size:1em;
}